@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* height: 100%; */
	background-color: lightblue;
font-family: 'Ubuntu', sans-serif;
}

.main{
	text-align: center;
	overflow: hidden;
}

.container{
}

.buttons{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(0, 255, 0, 0.1);
	border: 3px solid black;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	margin: auto;
	padding: 40px;
	padding-top: 20px;
	width: 80vw;
	border-radius: 40px;
	margin-top: 40px;
	max-width: 80vw;
    /* text-overflow: ellipsis; */
    white-space: normal;

}


.inp{
	font-size: 25px;
	margin-top: 30px;
	font-weight: bold;
}

.sub{
	font-size: 20px;
	margin-left: 40px;
	/* font-size: 30px; */
	cursor: pointer;
	background: transparent;
	margin-top: 30px;
	background-color: white;
	box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
	border-radius: 20px;
	border: 2px solid black;
	transition: background-color 0.2s ease-in-out,color 0.2s ease-in-out;
}
.sub:hover{
	background-color: black;
	color: white;
}

p{
	text-align: center;
	font-size: 20px;
	margin-top: 60px;
	/* transition: 0.2s ease-in-out; */
}

.btn{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 30px;
}

.btn button{
	background: transparent;
	font-size: 40px;
	background-color: aliceblue;
	border-radius: 13px;
	padding: 10px;
	border: 2px solid lightblue;
	z-index: 1.5;
}

a{
	text-decoration: none;
	color: black;
}

